.form {
    display:inline-grid;
    padding:2em;
    text-align: left;
    background-color: rgb(220, 218, 218);
    color:black;
    font-size: 1.2em;
    font-weight: 700;
    border-color: rgb(31, 29, 29);
    border-radius:10px;
    border-style:solid;
    border-radius: 50px;
    border-width: 10px;
}