.App {
  text-align: center;
}


.logo {
  width:50%;
  max-height:300px;
}

.title {
  display:inline-block;
  border-color: #343F58;
  border-radius:10px;
  font-size:2.5em;
  text-shadow: 2px 2px #343F58;
  color:rgb(200, 196, 196);
}


.disclaimer {
  font-size: 1.5em;
  word-wrap:break-word;
  color: white;
  font-style: italic;
}